---
id: "root"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js" type="module"></script>
    <title>WEB CHAT</title>
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="./index.js"></script>
</head>
<body>
    <div id="{{ id }}">
        <h1>Hello</h1>
    </div>
</body>
</html>
