<div class="profile">
    <h1 class="profile__title">Профиль</h1>
    <div class="profile__wrapper">
        <div class="profile__left">
        <div class="profile__avatar">
            <img src="" alt="Автарка">
        </div>  
        </div>
        <div class="profile__right">
            {{> firstNameField}}
            {{> nicknameField}}
            {{> loginField}}
            {{> emailField}}
            {{> phoneField}}
            {{> buttonChangheDataField}}
            {{> passwordField}}
            {{> confirmPasswordField}}
            {{> buttonChangePasswordField}}
        </div>
    </div>
</div>
