<div class="registration">
    <h1>Регистрация</h1>
    {{> firstNameField}}
    {{> nicknameField}}
    {{> loginField}}
    {{> emailField}}
    {{> phoneField}}
    {{> passwordField}}
    {{> confirmPasswordField}}
    {{> button}}
    <a href="">Войти</a>
</div>